@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clairvoyance Pro</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!--Loading-->
    <script>
        var myVar;

        function myFunction() {
            myVar = setTimeout(showPage, 1000);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("overlay").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }

        function loader(status) {
            if (status == "ON") {
                document.getElementById("overlay").style.display = "block";
                document.getElementById("loader").style.display = "block";
            } else {
                document.getElementById("loader").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            }
        }
    </script>
    <!--Chart-Donut-->
    <script src="~/bower/chart.js/chart-donut.js"></script>
    <!--Inter Font family-->
    <link rel="stylesheet" href="~/bower/inter/inter.css">
    <!--Loading End-->
    <link rel="stylesheet" href="~/bower/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/dist/css/skins/skin-black-light.min.css">
    <!-- jQuery 3 -->
    <script src="~/bower/jquery/dist/jquery.min.js"></script>
    <!-- Google Font -->
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/bower/morris.js/morris.css">
    <style>
        html, body {
            font-family: -apple-system, BlinkMacSystemFont, Inter;

        }

        :root {
            --appleblue: #007AFF;
            --applegrey: #EEEEF0;
            --applebuttonblue: #3272D8;
        }

        /*box top line*/
        .box {
            border-top: 1px solid #ccc;
            padding-top: 15px;
        }

        /*table*/
        .table > thead > tr > th,
        .table > tbody > tr > th,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > td,
        .table > tfoot > tr > td {
            border-top: 0px solid #f4f4f4;
        }

        .table > thead > tr > th {
            border-bottom: 0px solid #f4f4f4;
        }

        .table-bottom > thead > tr > th,
        .table-bottom > tbody > tr > th,
        .table-bottom > tfoot > tr > th,
        .table-bottom > thead > tr > td,
        .table-bottom > tbody > tr > td,
        .table-bottom > tfoot > tr > td {
            border-top: 1px solid #f4f4f4;
        }

        .table-bottom > thead > tr > th {
            border-bottom: 2px solid #f4f4f4;
        }

        /*Shadow of the box*/
        div.box-cp {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .box-footer
        {
            border-top:none;

        }

        .border-bottom-cp {
            padding-top: 10px;
            border-bottom: 1px solid #ccc;
        }

        .row-cp {
            display: flex;
            align-items: center;
        }

        .form-search-cp {
            -webkit-appearance: none;
            position: absolute;
            background-color: transparent;
            width: 90px;
            height: 100%;
            line-height: 20px;
            margin: 0;
            padding: 0;
            border: none
        }

        .webkit-appearance-none {
            -webkit-appearance: none;
        }

        .close {
            position: absolute;
            right: 15px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: red;
                cursor: pointer;
            }


        .tab-cp {
            overflow: hidden;
            background-color: none;
        }

            /* Style the buttons that are used to open the tab content */
            .tab-cp button {
            
                background-color: inherit;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 14px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab-cp button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab-cp button.active-selected {
                    background-color: none;
                    border-color: none;
                    color: black;
                    font-weight: bold;
                    border-bottom: solid;
                }


        .tab {
            overflow: hidden;
            border-bottom: 1px solid #ccc;
            background-color: none;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                background-color: inherit;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 14px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active-selected {
                    background-color: none;
                    border-color: none;
                    color: black;
                    font-weight: bold;
                    border-bottom: solid;
                }



        .btn-rounded {
            color: var(--appleblue);
            border: var(--appleblue) 1px solid;
            background-color: white;
            /*border:none;
                background-color: #f2f2f2;
                */
            outline: none;
            cursor: pointer;
            padding: 5px 15px;
            border-radius: 20px;
            margin: 5px 5px 5px 5px;
            min-width: 50px;
        }

        .btn-cp {
            background-color: var(--appleblue);
            color: white;
            border-radius: 8px;
            min-width: 200px;
            min-height: 30px;
            border: none;
        }

        .btn-rounded:hover {
            background-color: var(--appleblue);
            color: white;
            outline: none;
        }

        .active-btn-selected {
            color: white;
            border: none;
            outline: none;
            background-color: var(--appleblue);
        }

        .active-btn-selected-0 {
            color: white;
            border: none;
            outline: none;
            background-color: var(--appleblue);
        }

        .btn-icon {
            min-width: 0;
        }

        input.form-control, select.form-control, textarea.form-control {
            border-radius: 20px;
        }



        .form-popup {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 10001; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            padding-top: 5%;
            padding-left: 20%;
            padding-right: 20%;
            padding-bottom: 30%;
            border-radius: 10px;
        }

        .form-container {
            overflow: hidden;
            background-color: white;
            border-radius: 10px;
        }

        .dl-horizontal dt {
            text-align: left;
        }
        /**Loading*/
        #overlay {
            opacity: 0.5;
            background: #000;
            width: 100%;
            height: 100%;
            z-index: 10000;
            top: 0;
            left: 0;
            position: fixed;
        }
        /* Center the loader */
        #loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 50px;
            height: 50px;
            margin: -76px 0 0 -76px;
            border: 8px solid #f3f3f3;
            border-radius: 50%;
            border-top: 8px solid #3498db;
            -webkit-animation: spin 0.5s linear infinite;
            animation: spin 0.5s linear infinite;
        }

        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* Add animation to "page content" */
        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 0.3s;
            animation-name: animatebottom;
            animation-duration: 0.3s
        }

        @@-webkit-keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0px;
                opacity: 1
            }
        }

        @@keyframes animatebottom {
            from {
                bottom: -100px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }
        }

        #myDiv {
            display: none;
            text-align: center;
        }
        /**Loading*/

        .pre-scrollablex {
            overflow-x: auto;

        }

        /** Alert*/
        .alertsuccess {
            padding: 20px;
            background-color: #7aa6cf;
            color: white;
        }

        .alerterror {
            padding: 20px;
            background-color: #eb776e;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }

        .form-horizontal .control-label {
            text-align: left;
        }
        /**Alert*/
        /*Notification*/
        .navbar-badge {
            font-size: 1rem;
            font-weight: 300;
            padding: 2px 4px;
            position: absolute;
            right: 5px;
            top: 9px;
        }

        .dropdown-menu-lg {
            max-width: 300px;
            min-width: 280px;
            padding: 0;
        }

            .dropdown-menu-lg .dropdown-divider {
                margin: 0;
            }

            .dropdown-menu-lg .dropdown-item {
                padding: 0.75rem 1.5rem;
            }

            .dropdown-menu-lg p {
                margin: 0;
                white-space: normal;
            }


        .badge-warning {
            color: white;
            background-color: var(--appleblue);
        }

        .dropdown-divider {
            height: 0;
            margin: 0.5rem 0;
            overflow: hidden;
            border-top: 1px solid #e9ecef;
        }

        .dropdown-item {
            display: block;
            width: 100%;
            padding: 0.25rem 1rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }

        .dropdown-footer,
        .dropdown-header {
            display: block;
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            text-align: center;
        }

         @@media (max-width: 767px) {
            .mobile-show {
                display: block;
            }
            .main-header-mobile {
                margin-left:0;
            }
            .main-sidebar-top {
                padding-top: 50px;
            }
      }
        @@media (min-width: 768px) {
            .mobile-show {
                display: none;
            }
            .main-header-mobile {
                margin-left: 0px;
            }
            .main-sidebar-top{
                padding-top:0px;
            }
        }

        .main-header .nav-page {
            color: #71706F;
            font-size:16px;
            float: left;
            background-color: transparent;
            background-image: none;
            padding: 15px 15px;
        }
        .main-header .nav-page a{
            color: #71706F;
        }

        .content-header h2 {
            font-size: 43px;
            
        }


        .content-header h1 {
            font-size: 50px;
        }

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        .no-border {
            border: none !important; box-shadow:none;
        }

                .field-wrp {
            position: relative;
            background-color: white;
        }

        .btn-wrp {
            display: inline-block;
            width: 100%;
            position: relative;
            z-index: 10;
        }

      
        .btn-icon {
            background: transparent;
            border: none;
            color: grey;
            padding: 6px 13px 0 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        .btn-icon-dd {
            z-index: 10;
            background: var(--applebuttonblue);
            border-radius: 50%;
            border: none;
            color: white;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;

        }

        /*Dropdownlist*/
        .field-full
        {
                height:100%;
                width:100%;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            appearance: none;
            outline: 0;
            background: white;
            background-image: none;
            box-shadow: none;
            border-color: #d2d6de;

        }

        .select {
            position: relative;
            display: block;
            width: 20em;
            height: 2.6em;
            line-height: 3;
            overflow: hidden;
            border-radius: 20px;
            border: none;
        }

            select::-ms-expand {
                display: none;
            }

        .select::after {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            display: flex;
            align-items: center;
            font-weight: 900;
            border-radius: 20px;
            position: absolute;
            top: 4px;
            right: 4px;
            bottom: 4px;
            padding: 0 7px;
            background: var(--appleblue);
            color: white;
            pointer-events: none;
        }

        .select:hover::after {
        }

        <!-- For different browsers --> .select::after {
            -webkit-transition: .25s all ease;
            -o-transition: .25s all ease;
            transition: .25s all ease;
        }

    </style>
</head>

<body class="hold-transition skin-black-light sidebar-mini" onload="myFunction()" style="margin:0;">
    <div id="message" class="form-popup" style="padding-top:10%" ></div>
    <div class="wrapper">
        <div id="overlay" style.dislay="block">
            <div id="loader"></div>
        </div>
        <div style="display:none;" id="myDiv" class="animate-bottom"></div>
        <!-- Main Header -->
        <div class="main-header-mobile">
            <header class="main-header" style="border:none; ">
                <!-- Logo -->
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <div class="mobile-show">
                        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" style="border:none;">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                    </div>
                    <div class="nav-page"><a id="nav-link" href="#" style="font-size:20px">&#8592;</a> <a id="nav-name"></a></div>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Notifications Dropdown Menu -->
                            <li class="dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="#" style="border-color:transparent">
                                    <i class="fa fa-bell"></i>
                                    <span class="badge badge-warning navbar-badge">7</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                    <span class="dropdown-item dropdown-header">7 Notifications</span>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-tasks mr-2"></i> 4 new Task
                                        <span class="float-right text-muted text-sm">3 mins</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-users mr-2"></i> 2 Pending Approval
                                        <span class="float-right text-muted text-sm">12 hours</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-file mr-2"></i> 1 Responded
                                        <span class="float-right text-muted text-sm">2 days</span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                                </div>
                            </li>
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="border-color:transparent">
                                    <!-- The user image in the navbar-->
                                    <img src="~/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs"> @Context.Session.GetString("username")</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                        <p>
                                            @Context.Session.GetString("username")
                                            <small>Users since Nov. 2012</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Account</a>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <form action="~/Account/Logout" method="post">
                                            <div class="pull-right">
                                                <!--<a href="#" class="btn btn-default btn-flat" >Sign out</a>-->
                                                <button type="submit" class="btn btn-default btn-flat">Logout</button>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
        </div>
        <!-- Left side column. contains the logo and sidebar  #F7F6F3-->

        <aside class="main-sidebar" style=" border: none; background-color: #F7F6F3; padding-top:10px">
            <div class="main-sidebar-top">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar Menu -->
                    @Html.Partial("_MainMenu")
                    <!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </div>
        </aside>
       


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background-color :white">
            <!-- Content Header (Page header) -->

            @RenderBody()

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright © OneFinMY.</strong> All rights reserved.
            <div style="float:right; font-size:12px">
                ClairvoyancePro v.@System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString()
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/bower/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
</body>
</html>
<script>

    function showMessage(type,message) {
        //document.getElementById("overlay").style.display = "block";
        document.getElementById("message").style.display = "block";
        $("#message").load('@Url.Action("Message","Home", new { area = "" })',{type:type, message:message})
    }

    function closeMessage() {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("message").style.display = "none";
    }
</script>