@model IEnumerable<OneFin.Models.eKYCValidate>

<style>
  .black {
        color:black;
    }

    .detaillist thead tr th span {
        display: flex;
        align-items: center;
        min-height:45px;
        font-size: 20px;
        font-weight:600;
    }


    .detaillist tbody tr td span {
        display: flex;
        align-items: center;
        height: 40px;
    }

    .detaillist {
        font-size:14px;
    }
        .detaillist > thead > tr 
        .detaillist > tbody > tr ,
        .detaillist > tfoot > tr ,
        .detaillist > thead > tr ,
        .detaillist > tbody > tr ,
        .detaillist > tfoot > tr  {
            border-bottom: 1px solid #ccc;
        }

            .detaillist > thead > tr > th {
                border-bottom: 1px solid #8E8E8E;
            }


            .detaillist a {
                color:black;
            }

            .table-row {
                cursor: pointer;
            }

                .table-row:hover {
                    /**/background-color: #f2f2f2;
                    /*background: linear-gradient(to top, #ffffff 20%, #ccc 100%)*/
                }

</style>
    <div class="pre-scrollablex animate-bottom" style="margin-top:50px">
        <table class="table table-bottom detaillist">
            <thead>
                <tr  style="">
                    <th style="max-width:50px;">
                        <span>Rule Name</span>
                    </th>
                    <th style="min-width:200px">
                        <span>Rule Description</span>
                    </th>
                    <th  style="min-width:150px">
                        <span class="align-center">e-KYC Result</span>
                    </th>
                    <th>
                        <span>Recommendation</span>
                    </th>
                    <th>
                        <span>Label</span>
                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {

                    <tr class="table-row"  onclick="GeteKYCListVerification('@ViewBag.type', '@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)')">

                        <td style="font-weight:500; width:200px;">

                            <span>@Html.DisplayFor(modelItem => item.DV04_ruleName)</span>
                        </td>
                        <td>
                            <span> @Html.DisplayFor(modelItem => item.DV05_ruleDescription)</span>
                        </td>


                        <td>
                            <script>


                    if ('@Html.DisplayFor(modelItem => item.DV07_passOrFail)' == "FAIL") {
                        $("#@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)").addClass("fa fa-circle fa-lg");
                        document.getElementById('@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)').style.color = "red";
                    }

                    if ('@Html.DisplayFor(modelItem => item.DV07_passOrFail)' == "PASS") {
                        $("#@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)").addClass("fa fa-circle fa-lg");
                        document.getElementById('@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)').style.color = "green";
                    }

                            </script>

                            <div >
                                <span class="align-center">
                                    <i id='@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)' style="font-size:12px; padding-right:8px"></i>
                                     @Html.DisplayFor(modelItem => item.DV07_passOrFail)
                                </span>        
                            </div>

                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.DV09_recommendation)</span>
                        </td>
                        <td>
                            <span>@Html.DisplayFor(modelItem => item.OV05_TP_TN_FP_FN_Flag)</span>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

