@model OneFin.Models.CFCustomer
    <div class=" animate-bottom">
        <div class="pre-scrollablex validatelistbox">           
                <h4><strong>CIVILIAN PUBLIC SECTOR</strong></h4>
            <div class="box-body">
                <table class="table validatelist">
                    <thead>
                        <tr>
                            <th>
                                <span>Ministry Code</span>
                            </th>
                            <th style="min-width: 120px">
                                <span> Start Date</span>
                            </th>
                            <th style="min-width: 120px">
                                <span>  End Date</span>
                            </th>
                            <th>
                                <span>  Updated By</span>
                            </th>
                            <th style="min-width: 120px">
                                <span> Last Update</span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in Model.EmploymentCivilianPublicSectorContentList)
                        {
                            <tr>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.CS03_ministryCode_FPMT)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.CS04_startDate)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.CS05_endDate)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.CS87_updatedBy)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.CS88_lastModifiedDate)</span>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pre-scrollablex validatelistbox">
                <h4><strong>UNIFORM PUBLIC SECTOR</strong></h4>
            <div class="box-body">
                <table class="table validatelist">
                    <thead>
                        <tr>
                            <th>
                                <span>Uniform Code</span>
                            </th>
                            <th style="min-width:120px">
                                <span>Start Date</span>
                            </th>
                            <th style="min-width:120px">
                                <span> End Date</span>
                            </th>
                            <th>
                                <span>Updated By</span>
                            </th>
                            <th style="min-width:120px">
                                <span>Last Update</span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in Model.EmploymentUniformPublicSectorContentList)
                        {
                            <tr>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.US03_UniformCode_FPUF)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.US04_StartDate)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.US05_EndDate)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.US87_UserID)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.US88_UpdateDate)</span>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pre-scrollablex validatelistbox">
                <h4><strong>SEMI GOVERNMENT SECTOR</strong></h4>
            <div class="box-body">
                <table class="table validatelist">
                    <thead>
                        <tr>
                            <th>
                                <span> Semi Government</span>
                            </th>
                            <th style="min-width: 120px">
                                <span>Start Date</span>
                            </th>
                            <th style="min-width: 120px">
                                <span>End Date</span>
                            </th>
                            <th>
                                <span>Updated By</span>
                            </th>
                            <th style="min-width: 120px">
                                <span>Last Update</span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in Model.EmploymentSemiGovernmentSectorContentList)
                        {
                            <tr>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.SS03_semiGovernment)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.SS04_startDate)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.SS05_endDate)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.SS87_userID)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.SS88_updateDate)</span>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <div class="pre-scrollablex validatelistbox">
                <h4><strong>PRIVATE SECTOR</strong></h4>
            <div class="box-body">
                <table class="table validatelist">
                    <thead>
                        <tr>
                            <th>
                                <span>Private Company</span>
                            </th>
                            <th style="min-width:120px">
                                <span>Start Date</span>
                            </th>
                            <th style="min-width: 120px">
                                <span>End Date</span>
                            </th>
                            <th>
                                <span>Updated By</span>
                            </th>
                            <th style="min-width: 120px">
                                <span>Last Update</span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in Model.EmploymentPrivateSectorContentList)
                        {
                            <tr>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.PS03_privateCompany)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.PS04_startDate)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.PS05_endDate)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.PS87_userID)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.PS88_updateDate)</span>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pre-scrollablex validatelistbox">
                <h4><strong>SELF EMPLOYMENT</strong></h4>
            <div class="box-body">
                <table class="table validatelist">
                    <thead>
                        <tr>
                            <th>
                                <span>Company Name</span>
                            </th>
                            <th style="min-width:120px">
                                <span>Start Date</span>
                            </th>
                            <th style="min-width:120px">
                                <span>End Date</span>
                            </th>
                            <th>
                                <span>Updated By</span>
                            </th>
                            <th style="min-width:120px">
                                <span>Last Update</span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in Model.EmploymentSelfEmployedContentList)
                        {
                            <tr>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.BH04_companyName_FPPV)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.BH05_businessStartDate)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.BH06_businessEndDate)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.BH87_UserID)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.BH88_UpdateDate)</span>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pre-scrollablex validatelistbox">
                <h4><strong>UNEMPLOYED</strong></h4>
            <div class="box-body">
                <table class="table validatelist">
                    <thead>
                        <tr>
                            <th>
                                <span>Unemployment Type</span>
                            </th>
                            <th style="min-width:120px">
                                <span>Start Date</span>
                            </th>
                            <th style="min-width:120px">
                                <span>End Date</span>
                            </th>
                            <th>
                                <span>Updated By</span>
                            </th>
                            <th style="min-width:120px">
                                <span>Last Update</span>
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in Model.UnemployedContentList)
                        {
                            <tr>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.UH03_unemploymentType_FPUT)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.UH04_StartDate)</span>
                                </td>
                                <td>
                                    <span> @Html.DisplayFor(modelItem => item.UH05_EndDate)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.UH87_UserID)</span>
                                </td>
                                <td>
                                    <span>@Html.DisplayFor(modelItem => item.UH88_UpdateDate)</span>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>