@model IEnumerable<OneFin.Models.eKYCValidate>
<!DOCTYPE html>
@{
    ViewData["Title"] = "Index";
    var viewdata = ViewData["searchstring"];
    var customer = ViewData["Customer"] as CFCustomer;
}

<script>
    var filter = "All";
    var tabType = "BIO";
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .column {
            float: left;
            width: 100px;
            /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

</head>
<body>
    <div id="overlay" style="display:none"></div>
    <div class="form-popup" id="myForm"></div>
    <section class="content-header" id="headerpanel">

        <h1>
            <strong id="HeaderName">
            </strong>

        </h1>
        <ol class="breadcrumb">
            <li><a href="/home/index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li> eKYC Validation</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div id="overlay" style="display: none">
            <div id="loader"></div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-lg-3" style="align-items: center; display:flex; justify-content: center; text-align: center;">
                    <div style="position: relative; border: 0; padding: 0; margin: 0; width: 300px; height: 300px; ">
                        <canvas id="myChart" width="200" height="200" style="position:absolute; z-index:3"></canvas>
                        <div style="width: 300px; height: 300px; padding-top: 56px ">
                            <img style="width: 225px; height: 225px;" class="img-circle" src="@Html.Raw(customer.IMGSource)" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="display: flex; margin: 10px 10px 10px 10px; justify-content: center; align-items: center; ">
                    <div class="box-body">
                        <span style="font-size:40px">
                            <strong> @Html.Raw(customer.Name)</strong>
                        </span><br />
                        <div class="box-body" style="padding-left:0">
                            <span style="font-size:14px"><i class="fa fa-handshake-o"></i> Quant Onboarding</span><br />
                            <span style="font-size: 14px"><i class="fa fa-user-secret"></i> MLTF Risk Level 2</span><br />
                            <span style="font-size: 14px"><i class="fa fa-check-square-o"></i> Personal Score</span><br />
                            <span style=" font-size: 14px;"> <i class="fa fa-warning"></i> Credit Risk Level </span><br />
                        </div>
                        <span style=""> Transaction Override </span><br />
                        <span style="padding-bottom:20px;"> Bio-metric Authentication Failed </span>
                    </div>
                </div>
                <div class="col-lg-4" style="font-size: 30px; display: flex; margin: 10px 10px 10px 10px; justify-content: center; align-items: center; text-align:center ">
                    <div class="box-body">
                        <div class="row">
                            <div class="column">
                                <strong>3</strong><br /><span style="font-size:15px">e-KYC</span>
                            </div>
                            <div class="column">
                                <strong>2</strong><br /><span style="font-size:15px">MLTF</span>
                            </div>
                            <div class="column">
                                <strong>3</strong><br /><span style="font-size:15px">TX Monitoring</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <div class="box-header" >
                    <div id="DIV-source" style="margin-top:30px;">
                        <button class="btn-source active-btn-selected btn-rounded"> Ultron Pro</button>
                        <button class="btn-source btn-rounded"> eXponential Pro</button>
                        <button class="btn-source btn-rounded"> Olive Pro</button>
                        <button class="btn-source btn-rounded"> Olive for Business</button>
                        <!--<button class="btn1 btn-rounded"><i class="fa fa-user-circle-o"></i> Biometric</button>-->
                    </div>
                </div>
                <script>
                    // Add active class to the current button (highlight it)
                    var header = document.getElementById("DIV-source");
                    var btns = header.getElementsByClassName("btn-source");
                    for (var i = 0; i < btns.length; i++) {
                        btns[i].addEventListener("click", function () {
                            var current = document.getElementsByClassName("active-btn-selected");
                            current[0].className = current[0].className.replace(" active-btn-selected", "");
                            this.className += " active-btn-selected";
                        });
                    }
                </script>

                <div class="box-header border-bottom-cp" style="padding-top:20px">
                    <div class="row">
                        <div class="col-lg-2">
                            <h4> <strong>e-KYC Result </strong></h4>
                        </div>
                        <div class="col-lg-10">
                            <div id="DIV-status" style="margin-top:10px; float:right">
                                <button class="btn-status active-btn-selected-0 btn-rounded"> All </button>
                                <button class="btn-status btn-rounded"> Pass</button>
                                <button class="btn-status btn-rounded"> Fail</button>
                                <button class="btn-status btn-rounded"> Override</button>
                            </div>
                        </div>

                    </div>
                    <script>
                        // Add active class to the current button (highlight it)
                        var header = document.getElementById("DIV-status");
                        var btns = header.getElementsByClassName("btn-status");
                        for (var i = 0; i < btns.length; i++) {
                            btns[i].addEventListener("click", function () {
                                var current = document.getElementsByClassName("active-btn-selected-0");
                                current[0].className = current[0].className.replace(" active-btn-selected-0", "");
                                this.className += " active-btn-selected-0";
                                filter = this.innerText;
                                eKYCDetailList(tabType);
                                //$('#eKYCDetailList').show();

                            });
                        }
                    </script>
                </div>

                <div class="tab-cp animate-bottom" style="padding-left:10px">
                    <button id="tabBIO" class="tablinks" onclick="openValidation(event, 'BIO')">Biometric Validation</button>
                    <button id="tabAddress" class="tablinks" onclick="openValidation(event, 'Address')">Address Validation</button>
                    <button id="tabID" class="tablinks" onclick="openValidation(event, 'ID')">ID Validation</button>
                    <button id="tabContact" class="tablinks" onclick="openValidation(event, 'Contact')">Contact Validation</button>
                    <button id="tabEmployment" class="tablinks" onclick="openValidation(event, 'Employment')">Employment Validation</button>
                    <button id="tabIncome" class="tablinks" onclick="openValidation(event, 'Income')">Income Validation</button>
                    <button id="tabRelationship" class="tablinks" onclick="openValidation(event, 'Relationship')">Relationship Validation</button>
                </div>

                <div class="box-body">
                    <div id="BIO" class="tabcontent animate-bottom"> </div>
                    <div id="Address" class="tabcontent animate-bottom"></div>
                    <div id="ID" class="tabcontent animate-bottom"></div>
                    <div id="Contact" class="tabcontent animate-bottom"> </div>
                    <div id="Employment" class="tabcontent animate-bottom"> </div>
                    <div id="Income" class="tabcontent animate-bottom"> </div>
                    <div id="Relationship" class="tabcontent animate-bottom"> </div>

                </div>

            </div>
            <div class="animate-bottom" id="eKYCDetailList"></div>
</section>

</body>
</html>

<script>
    function PopupDetail(type) {
        //$("#myForm").load("CustomerLKOverride", { LKOverride: data });
        document.getElementById("overlay").style.display = "block";
        document.getElementById("myForm").style.display = "block";
        document.getElementById("myForm").style.paddingTop = "10%";
        $("#myForm").load("eKYCRegisteredHistory")
    };
    function PopupOTP(type) {
    //$("#myForm").load("CustomerLKOverride", { LKOverride: data });
    document.getElementById("overlay").style.display = "block";
    document.getElementById("myForm").style.display = "block";
    document.getElementById("myForm").style.paddingTop = "10%";
    $("#myForm").load("eKYCOTPHistory")
    };

    function closeFormHistory() {
        document.getElementById("overlay").style.display = "none";
        document.getElementById("myForm").style.display = "none";
    };

    var ekycvalidate = '@Html.Raw(Json.Serialize(Model))';
    var customer = '@Html.Raw(Json.Serialize(customer))';
    $(document).ready(function () {
        document.getElementById('tabBIO').click();

    });

    function GeteKYCListVerification(type, ekycid) {
        var tab = '#' + type;
        loader("ON");
        $(tab).html("");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailListVerification", "eKYC")',
                data: {
                    type: type,
                    ekycid: ekycid,
                    ekycvalidate: ekycvalidate

                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $(tab).html("");
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $(tab).html(result);

                        }
                    loader("OFF");
                }
            }
        );
        $("#eKYCDetailList").hide();
    };

    function openValidation(evt, ekyctab) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active-selected", " ");
            tabType = ekyctab;


        }
        document.getElementById(ekyctab).style.display = "block";
        evt.currentTarget.className += " active-selected";

        eKYCDetailList(ekyctab);
        $('#eKYCDetailList').show();
        $('#BIO').html("");
        $('#Address').html("");
        $('#ID').html("");
        $('#Contact').html("");
        $('#Employment').html("");
        $('#Income').html("");
        $('#Relationship').html("");

        if (ekyctab == "BIO") {
            eKYCDetailBIO();
            $('#HeaderName').text("Biometric Validation");

        }
        else if (ekyctab == "Address") {
            eKYCDetailAddress();
           // $("#Address").load("eKYCDetailAddress");
            $('#HeaderName').text("Address Validation");

        }
        else if (ekyctab == "ID") {
            $("#ID").load("eKYCDetailID");
            $('#HeaderName').text("ID Validation");

        }
        else if (ekyctab == "Contact") {
            eKYCDetailContact();
            //$("#Contact").load("eKYCDetailContact");
            $('#HeaderName').text("Contact Validation");

        }
        else if (ekyctab == "Employment") {
            eKYCDetailEmployment();
            //$("#Employment").load("eKYCDetailEmployment");
            $('#HeaderName').text("Employment Validation");

        }
        else if (ekyctab == "Income") {
            eKYCDetailIncome();
            //$("#Income").load("eKYCDetailIncome");
            $('#HeaderName').text("Income Validation");

        }
        else if (ekyctab == "Relationship") {
            eKYCDetailRelationship();
            //$("#Relationship").load("eKYCDetailRelationship");
            $('#HeaderName').text("Relationship Validation");

        }
        else {
            $('#eKYCDetailList').html("");
            $('#HeaderName').text("");
        }

    }


        var xValues = ["Pass", "Fail", "Override"];
        var yValues = [55, 49, 44];
        var barColors = ["#D4F0F0", "#FCB9AA","#CCE2CB"];

        new Chart("myChart", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{ backgroundColor: barColors, data: yValues }],

            },
            options: {
                cutoutPercentage: 85,
            title: {
            display: false,
        text: "eKYC Criteria"
    }
  }
        });


    function eKYCDetailList(type) {
        loader("ON");

        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailList", "eKYC")',
                data: {
                    filter: filter,
                    type: type,
                    ekycvalidate: ekycvalidate
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#eKYCDetailList').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);
                        }
                        else {
                            $("#eKYCDetailList").html(result);

                        }
                    loader("OFF");
                }
            }
        );
    }

      function eKYCDetailBIO() {
          loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailBIO", "eKYC")',
                data: {

                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#BIO').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#BIO").html(result);

                        }
                    loader("OFF");
                }
            }
        );
    }

        function eKYCDetailAddress() {
          loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailAddress", "eKYC")',
                data: {

                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Address').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Address").html(result);

                        }
                    loader("OFF");
                }
            }
        );
    }

           function eKYCDetailContact() {
          loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailContact", "eKYC")',
                data: {
                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Contact').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Contact").html(result);

                        }
                    loader("OFF");
                }
            }
        );
    }

         function eKYCDetailEmployment() {
          loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailEmployment", "eKYC")',
                data: {
                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Employment').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Employment").html(result);

                        }
                    loader("OFF");
                }
            }
        );
    }

    function eKYCDetailIncome() {
          loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailIncome", "eKYC")',
                data: {
                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Income').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Income").html(result);

                        }
                    loader("OFF");
                }
            }
        );
    }

      function eKYCDetailRelationship() {
          loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailRelationship", "eKYC")',
                data: {
                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Relationship').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Relationship").html(result);

                        }
                    loader("OFF");
                }
            }
        );
    }

    function ValidateCancel(type) {
        var text = 'tab' + type;
        document.getElementById(text).click();
    }



</script>

