@model IEnumerable<OneFin.Models.eKYCValidate>

<style>
  .black {
        color:black;
    }
</style>
    <div class="pre-scrollablex">
        <table class="table table-bottom">
            <thead>
                <tr  style="font-weight:bold; font-size:20px">
                    <th style="max-width:50px;">
                        Rule Name
                    </th>
                    <th style="min-width:200px">
                        Rule Description
                    </th>
                    <th style="min-width:150px">
                       e-KYC Result
                    </th>
                    <th>
                        Recommendation
                    </th>
                    <th>
                        Label
                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {

                    <tr>

                        <td style="font-weight:500" >

                            <a class="black" href="#" onclick="GeteKYCListVerification('@ViewBag.type', '@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)')">@Html.DisplayFor(modelItem => item.DV04_ruleName)</a>
                        </td>
                        <td>
                            <a class="black" href="#" onclick="GeteKYCListVerification('@ViewBag.type','@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)')"> @Html.DisplayFor(modelItem => item.DV05_ruleDescription)</a>
                        </td>


                        <td>
                            <script>


                    if ('@Html.DisplayFor(modelItem => item.DV07_passOrFail)' == "FAIL") {
                        $("#@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)").addClass("fa fa-circle fa-lg");
                        document.getElementById('@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)').style.color = "red";
                    }

                    if ('@Html.DisplayFor(modelItem => item.DV07_passOrFail)' == "PASS") {
                        $("#@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)").addClass("fa fa-circle fa-lg");
                        document.getElementById('@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)').style.color = "green";
                    }

                            </script>
                            <div style="display:flex; align-items:center; justify-content:center"><i id='@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)' style="font-size:12px; padding-right:8px"></i><a class="black" href="#" onclick="GeteKYCListVerification('@ViewBag.type','@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)')"> @Html.DisplayFor(modelItem => item.DV07_passOrFail)</a></div>
                        </td>
                        <td>
                            <a class="black" href="#" onclick="GeteKYCListVerification('@ViewBag.type','@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)')">@Html.DisplayFor(modelItem => item.DV09_recommendation)</a>
                        </td>
                        <td>
                            <a class="black" href="#" onclick="GeteKYCListVerification('@ViewBag.type','@Html.DisplayFor(modelItem => item.DV01_lkbmdvIndex)')">@Html.DisplayFor(modelItem => item.OV05_TP_TN_FP_FN_Flag)</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

