@model OneFin.Models.CFCustomer
<div class="row">
    <div class="col-lg-6 validatelistbox">     
            <h4><strong>MONTHLY INCOME</strong></h4>
        <div class="box-body">
            <table class="table validatelist">
                <thead>
                    <tr>
                        <th style="min-width:100px">
                            <span>Period</span>
                        </th>
                        <th>
                            <span>Income Category</span>
                        </th>
                        <th>
                            <span> Total Monthly Income</span>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.MIncomeContentList)
                    {
                        <tr>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.MI04_period)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.MI04_periodMI05_incomeCatagory_FPSU)</span>
                            </td>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.MI03_totalMonthlyIncome)</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6 validatelistbox">
            <h4><strong>ANNUAL INCOME</strong></h4>
        <div class="box-body validatelist">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <span> Year</span>
                        </th>
                        <th>
                            <span>Income Category</span>
                        </th>
                        <th>
                            <span> Total Annual Income</span>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.YIncomeContentList)
                    {
                        <tr>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.AI04_YYYY)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.AI05_incomeCat_FPSU)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.AI03_annualIncome)</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
