@model OneFin.Models.CFCustomer
    <div class="pre-scrollablex validatelistbox">
            <h4><strong>RELATIONSHIPS</strong></h4>
        <div class="box-body">
            <table class="table validatelist">
                <thead>
                    <tr>
                        <th>
                            <span>Relationship Name</span>
                        </th>
                        <th>
                            <span>Relationship Type</span>
                        </th>
                        <th>
                            <span>Relationship Status</span>
                        </th>
                        <th style="min-width:120px">
                            <span> Start Date</span>
                        </th>
                        <th style="min-width:120px">
                            <span>End Date</span>
                        </th>
                        <th>
                            <span>Updated By</span>
                        </th>
                        <th style="min-width:120px">
                            <span>Last Update</span>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RelationshipContentList)
                    {
                        <tr>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.SU09_relationshipCIFName)</span>
                            </td>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.SU05_relationshipType_FPRE)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.SU06_relationshipStatus)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.SU07_startDate)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.SU08_endDate)</span>
                            </td>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.SU87_updatedBy)</span>
                            </td>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.SU88_lastModifiedDate)</span>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
