@model IEnumerable<OneFin.Models.eKYCValidate>
<!DOCTYPE html>
@{
    ViewData["Title"] = "Index";
    var viewdata = ViewData["searchstring"];
    var customer = ViewData["Customer"] as CFCustomer;
}

<script>
    var filter = "All";
    var tabType = "BIO";
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>


        .column {
            float: left;
            width: 100px;
            /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .tab-cp button {
            color: var(--appleblue);
            font-weight: 200;
        }

        .btn-rounded {
            color: black;
            border: #ccc 1px solid;
        }

        .btn-status {
            color: black;
            border: #ccc 1px solid;
            background-color: white;
            /*border:none;
                background-color: #f2f2f2;
                */
            outline: none;
            cursor: pointer;
            padding: 5px 15px;
            border-radius: 20px;
            margin: 5px 5px 5px 5px;
            min-width: 50px;
            height: 36px;
        }

        .active-btn-selected {
            color: white;
            border: none;
            outline: none;
            background-color: var(--appleblue);
            border: var(--appleblue) 1px solid;
        }

        .active-btn-selected-0 {
            color: white;
            border: none;
            outline: none;
            background-color: var(--appleblue);
            border: var(--appleblue) 1px solid;
        }

        .btn-rounded-blue:hover {
            background-color: var(--appleblue) !important;
            border: var(--appleblue) 1px solid !important;
            color: white !important;
            outline: none;
        }

        .btn-rounded-green:hover {
            background-color: green !important;
            border: green 1px solid !important;
            color: white !important;
        }

        .btn-rounded-red:hover {
            background-color: red !important;
            border: red 1px solid !important;
            color: white !important;
            outline: none;
        }

        .btn-rounded-orange:hover {
            background-color: orange !important;
            border: orange 1px solid !important;
            color: white !important;
            outline: none;
        }

        #headerpanel {
            /*top: 40px;*/
            transition: top 0.6s;
            position: fixed;
            z-index: 4;
            background-color: white;
            background: linear-gradient(to top, transparent 0%, white 10%);
            width: 100%;
            font-size: 40px;
            padding: 15px 10px 10px 12px;
        }

        .btn-source {
            font-weight:300;
        }
    </style>

</head>
<body>
    <!--<div id="overlay" style="display:none"></div>-->

    <section id="headerpanel">
        <strong id="HeaderName">
        </strong>
    </section>
    <section class="content container-fluid no-border">
        <!--<div id="overlay" style="display: none">
            <div id="loader"></div>
        </div>-->
        <div class="box no-border" style=" top: 60px; border-top: solid 1px #ccc!important;">
            <div class="row" style=" padding: 35px 0 35px 0">
                <div class="mobile-center" style="position:relative; align-items: center; display:flex; justify-content: center; text-align: center; float:left;padding: 0 20px 0 50px; ">
                    <canvas id="myChart" style="position: absolute; z-index: 3; max-height: 240px; max-width: 240px; width: 240px; height: 240px "></canvas>
                    <div style="width: 240px; height: 240px; padding-top: 23px;">
                        <img style="width: 195px; height: 195px;" class="img-circle" src="@Html.Raw(customer.IM03_avatarImageURL)" />
                    </div>
                </div>
                <div class="mobile-center" style="display: flex; padding: 10px 80px 10px 10px; justify-content: left; align-items:center; float: left; max-width: 550px;">
                    <div class="box-body">
                        <span style="font-size:35px;">
                            <strong> @Html.Raw(customer.NA03_cifName)</strong>
                        </span><br />
                        <div class="box-body" style="padding-left:0; padding-top:0">
                            <span style="font-size: 14px; color: #838383; font-weight: 300"><i class="far fa-user-check" style="width:17px"></i> Count Pass : @Html.Raw(customer.LK03_countPass)</span><br style="display: block; content: ' '; margin: -2px 0;" />
                            <span style="font-size: 14px; color: #838383; font-weight: 300"><i class="far fa-user-times" style="width:17px"></i> Count Fail : @Html.Raw(customer.LK04_countFail)</span><br style="display: block; content: ' '; margin: -2px 0;" />
                            <span style="font-size: 14px; color: #838383; font-weight: 300"><i class="far fa-check-circle" style="width:17px"></i> Count Forced Override : @Html.Raw(customer.LK05_countForceOverride)</span><br style="display: block; content: ' '; margin: -2px 0;" />
                            <span style=" font-size: 14px; color: #838383; font-weight: 300"> <i class="far fa-user-edit" style="width:17px"></i> Count Incomplete Data : @Html.Raw(customer.LK15_countIncompleteData) </span><br style="display: block; content: ' '; margin: -2px 0;" />
                        </div>
                        <span style="font-size: 16px; font-weight: 200"> Blaze Recommendation : @Html.Raw(customer.LK17_finalBlazeRecommendation) </span><br style="display: block; content: ' '; margin: -2px 0;" />
                        <span style="font-size: 16px; font-weight: 200" > Final Status : @Html.Raw(customer.LK18_finalStatus) </span>
                    </div>
                </div>

                <div class="mobile-center" style="font-size: 25px; display: flex; justify-content: center; align-items: center; text-align: center; float:right; margin:20px 30px 0 0px; ">
                    <div style="margin-right:50px">
                        <strong>3</strong><br style="display: block; content: ' '; margin: -8px 0;" /><span style="font-size: 16px; font-weight: 300">e-KYC</span>
                    </div>
                    <div style="margin-right:25px">
                        <strong>2</strong><br style="display: block; content: ' '; margin: -8px 0;" /><span style="font-size: 16px; font-weight: 300">MLTF</span>
                    </div>
                    <div>
                        <strong>3</strong><br style="display: block; content: ' '; margin: -8px 0;" /><span style="font-size: 16px; font-weight: 300">TX Monitoring</span>
                    </div>

                </div>
            </div>

            <!--<div class="box-header">
                <div id="DIV-source" style="margin-top:30px;">
                    <button class="btn-rounded btn-source active-btn-selected"> <img class="img-circle" src="~/dist/img/Ultron.jpg" style="width:20px; height:20px; margin-top: -2px" /> Ultron Pro</button>
                    <button class="btn-rounded btn-source"><img class="img-circle" src="~/dist/img/exponential.jpg" style="width:20px; height:20px; margin-top: -2px" /> eXponential Pro</button>
                    <button class="btn-rounded btn-source"><img class="img-circle" src="~/dist/img/others.jpg" style="width:20px; height:20px; margin-top: -2px" /> Olive Pro</button>
                    <button class="btn-rounded btn-source"><img class="img-circle" src="~/dist/img/others.jpg" style="width:20px; height:20px; margin-top: -2px" /> Olive for Business</button>
                </div>
            </div>
            <script>
                // Add active class to the current button (highlight it)
                var header = document.getElementById("DIV-source");
                var btns = header.getElementsByClassName("btn-source");
                for (var i = 0; i < btns.length; i++) {
                    btns[i].addEventListener("click", function () {
                        var current = document.getElementsByClassName("active-btn-selected");
                        current[0].className = current[0].className.replace(" active-btn-selected", "");
                        this.className += " active-btn-selected";
                    });
                }
            </script>-->

            <div class="box-header border-bottom-cp" style="padding-top:20px">
                <div class="row">
                    <div class="col-lg-3">
                        <h4 style="font-size:30px; margin-top:20px;  "> <strong>e-KYC Result </strong></h4>
                    </div>
                    <div class="col-lg-9">
                        <div id="DIV-status" style="margin-top:10px; float:right">
                            <button class="btn-status btn-rounded-blue active-btn-selected-0 "> All </button>
                            <button class="btn-status btn-rounded-green"> Pass</button>
                            <button class="btn-status btn-rounded-red"> Fail</button>
                            <button class="btn-status btn-rounded-orange "> Override</button>
                        </div>
                    </div>

                </div>
                <script>
                    // Add active class to the current button (highlight it)
                    var header = document.getElementById("DIV-status");
                    var btns = header.getElementsByClassName("btn-status");
                    for (var i = 0; i < btns.length; i++) {
                        btns[i].addEventListener("click", function () {
                            var current = document.getElementsByClassName("active-btn-selected-0");
                            current[0].style.backgroundColor = "white";
                            current[0].style.border = "#ccc 1px solid";

                            current[0].style.color = "black";
                            current[0].className = current[0].className.replace(" active-btn-selected-0", "");
                            this.className += " active-btn-selected-0";
                            filter = this.innerText;
                            $(this).css('color', 'white');
                            if (filter == "All") {
                                $(this).css('background-color', 'var(--appleblue)');
                                $(this).css('border', 'var(--appleblue) 1px solid');

                            } else if (filter == "Pass") {
                                $(this).css('background-color', 'Green');
                                $(this).css('border', 'Green 1px solid');
                            }
                            else if (filter == "Fail") {
                                $(this).css('background-color', 'red');
                                $(this).css('border', 'red 1px solid');
                            }
                            else if (filter == "Override") {
                                $(this).css('background-color', 'orange');
                                $(this).css('border', 'orange 1px solid');
                            }
                            eKYCDetailList(tabType);
                            //$('#eKYCDetailList').show();

                        });
                    }
                </script>
            </div>

            <div class="tab-cp">
                <button id="tabBIO" class="tablinks" onclick="openValidation(event, 'BIO')">Biometric Validation</button>
                <button id="tabAddress" class="tablinks" onclick="openValidation(event, 'Address')">Address Validation</button>
                <button id="tabID" class="tablinks" onclick="openValidation(event, 'ID')">ID Validation</button>
                <button id="tabContact" class="tablinks" onclick="openValidation(event, 'Contact')">Contact Validation</button>
                <button id="tabEmployment" class="tablinks" onclick="openValidation(event, 'Employment')">Employment Validation</button>
                <button id="tabIncome" class="tablinks" onclick="openValidation(event, 'Income')">Income Validation</button>
                <button id="tabRelationship" class="tablinks" onclick="openValidation(event, 'Relationship')">Relationship Validation</button>
                <button id="tabProcess" class="tablinks" onclick="openValidation(event, 'Process')" hidden>Process</button>
            </div>

            <div class="box-body no-border ">
                <div id="BIO" class="tabcontent  animate-bottom"> </div>
                <div id="Address" class="tabcontent  animate-bottom"></div>
                <div id="ID" class="tabcontent animate-bottom"></div>
                <div id="Contact" class="tabcontent  animate-bottom"> </div>
                <div id="Employment" class="tabcontent  animate-bottom"> </div>
                <div id="Income" class="tabcontent  animate-bottom"> </div>
                <div id="Relationship" class="tabcontent  animate-bottom"> </div>
                <div id="Process" class="tabcontent  animate-bottom"> </div>
            </div>

        </div>
        <!--<div id="eKYCDetailListVerification" ></div>-->
        <div id="eKYCDetailList" class="animate-bottom"></div>
    </section>

</body>
</html>

<script>
    var ekycvalidate = '@Html.Raw(Json.Serialize(Model))';
    var customer = '@Html.Raw(Json.Serialize(customer))';

    $(document).ready(function () {
        document.getElementById('tabBIO').click();
        
        if('@ViewBag.NavItem' == 'Quant')
        {
            var element = document.getElementById("eKYCSearch-Quant");
            element.classList.add("menu-item-active");
        }
              if('@ViewBag.NavItem' == 'Exp')
        {
            var element = document.getElementById("eKYCSearch-Exp");
            element.classList.add("menu-item-active");
        }
                if('@ViewBag.NavItem' == 'Ultron')
        {
            var element = document.getElementById("eKYCSearch-Ultron");
            element.classList.add("menu-item-active");
        }
    });

    $('#nav-link').attr("href", "eKYCSearch")
    eKYCDetailBIO();
    eKYCDetailAddress();
    $("#ID").load("eKYCDetailID");
    eKYCDetailContact();
    eKYCDetailEmployment();
    eKYCDetailIncome();
    eKYCDetailRelationship();

    function PopupDetail(type) {
        //$("#myForm").load("CustomerLKOverride", { LKOverride: data });
        //document.getElementById("overlay").style.display = "block";
        document.getElementById("myForm").style.display = "block";
        document.getElementById("myForm").style.paddingTop = "10%";
        $("#myForm").load("eKYCRegisteredHistory")
    };
    function PopupOTP(type) {
    //$("#myForm").load("CustomerLKOverride", { LKOverride: data });
    //document.getElementById("overlay").style.display = "block";
    document.getElementById("myForm").style.display = "block";
    document.getElementById("myForm").style.paddingTop = "10%";
    $("#myForm").load("eKYCOTPHistory")
    };

    function closeFormHistory() {
        //document.getElementById("overlay").style.display = "none";
        document.getElementById("myForm").style.display = "none";
    };



    function GeteKYCListVerification(type, ekycid) {
        var tab = '#' + type;
        //loader("ON");
        //$(tab).html("");


        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailListVerification", "eKYC")',
                data: {
                    type: type,
                    ekycid: ekycid,
                    ekycvalidate: ekycvalidate

                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    //$(tab).html("");
                    $("#Process").html("");
                    document.getElementById('tabProcess').click();
                    $("#eKYCDetailList").hide();
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            //$(tab).html(result);
                            $("#Process").html(result);
                            document.getElementById('tabProcess').click();
                            $("#eKYCDetailList").hide();
                        }
                    //loader("OFF");
                }
            }
        );
        //$("#ReviewTab").hide();

    };

    function openValidation(evt, ekyctab) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active-selected", " ");
            tabType = ekyctab;


        }
        document.getElementById(ekyctab).style.display = "block";
        evt.currentTarget.className += " active-selected";



       // $('#BIO').html("");
       // $('#Address').html("");
       // $('#ID').html("");
       // $('#Contact').html("");
       // $('#Employment').html("");
       // $('#Income').html("");
       // $('#Relationship').html("");

        //$("#ReviewTab").show();
        $("#eKYCDetailListVerification").html("");

        if (ekyctab == "BIO") {

            $('#HeaderName').text("Biometric Validation");
            $('#nav-name').text("e-KYC/Biometric Validation");

        }
        else if (ekyctab == "Address") {

           // $("#Address").load("eKYCDetailAddress");
            $('#HeaderName').text("Address Validation");
            $('#nav-name').text("e-KYC/Address Validation");

        }
        else if (ekyctab == "ID") {

            $('#HeaderName').text("ID Validation");
            $('#nav-name').text("e-KYC/ID Validation");

        }
        else if (ekyctab == "Contact") {

            //$("#Contact").load("eKYCDetailContact");
            $('#HeaderName').text("Contact Validation");
            $('#nav-name').text("e-KYC/Contact Validation");

        }
        else if (ekyctab == "Employment") {

            //$("#Employment").load("eKYCDetailEmployment");
            $('#HeaderName').text("Employment Validation");
            $('#nav-name').text("e-KYC/Employment Validation");

        }
        else if (ekyctab == "Income") {

            //$("#Income").load("eKYCDetailIncome");
            $('#HeaderName').text("Income Validation");
            $('#nav-name').text("e-KYC/Income Validation");

        }
        else if (ekyctab == "Relationship") {

            //$("#Relationship").load("eKYCDetailRelationship");
            $('#HeaderName').text("Relationship Validation");
            $('#nav-name').text("e-KYC/Relationship Validation");

        }

        eKYCDetailList(ekyctab);
        $('#eKYCDetailList').show();

    }


        var xValues = ["Pass", "Fail", "Override"];
        var yValues = [55, 49, 44];
    var barColors = ["#FCF0CF", "#FCB9AA","#CCE2CB"];

        new Chart("myChart", {
            type: "doughnut",
            data: {
                labels: xValues,
                datasets: [{ backgroundColor: barColors, data: [55, 49, 44] }],

            },
            options: {
                cutout: 100,
                plugins: {
                    legend: {
                        display: false
                    },

                    title: {
                        display: false,
                        text: "eKYC Criteria"
                    },
                    responsive: false,
                    maintainAspectRatio: false,
                    animation: {
                        duration: 1000
                    }

                }

  }
        });


    function eKYCDetailList(type) {
        //loader("ON");

        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailList", "eKYC")',
                data: {
                    filter: filter,
                    type: type,
                    ekycvalidate: ekycvalidate
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#eKYCDetailList').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);
                        }
                        else {
                            $("#eKYCDetailList").html(result);

                        }
                    //loader("OFF");
                }
            }
        );
    }

      function eKYCDetailBIO() {
          //loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailBIO", "eKYC")',
                data: {

                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#BIO').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#BIO").html(result);

                        }
                    //loader("OFF");
                }
            }
        );
    }

        function eKYCDetailAddress() {
          //loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailAddress", "eKYC")',
                data: {

                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Address').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Address").html(result);

                        }
                    //loader("OFF");
                }
            }
        );
    }

           function eKYCDetailContact() {
          //loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailContact", "eKYC")',
                data: {
                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Contact').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Contact").html(result);

                        }
                    //loader("OFF");
                }
            }
        );
    }

         function eKYCDetailEmployment() {
          //loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailEmployment", "eKYC")',
                data: {
                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Employment').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Employment").html(result);

                        }
                   // loader("OFF");
                }
            }
        );
    }

    function eKYCDetailIncome() {
          //loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailIncome", "eKYC")',
                data: {
                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Income').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Income").html(result);

                        }
                    //loader("OFF");
                }
            }
        );
    }

      function eKYCDetailRelationship() {
          //loader("ON");
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("eKYCDetailRelationship", "eKYC")',
                data: {
                    cfcustomer: customer
                },
                error: function (result) {
                    showMessage("E", result.status + " " + result.statusText + " " + "Something wrong, please try again"
                    );
                    $('#Relationship').html("");;
                },
                success: function (result) {
                        if (result.status == false) {
                            showMessage("E", result.message);

                        }
                        else {
                            $("#Relationship").html(result);

                        }
                    //loader("OFF");
                }
            }
        );
    }

    function ValidateCancel(type) {
        var text = 'tab' + type;
        document.getElementById(text).click();
    }


</script>

<script>
    var prevScrollpos1 = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos1 = window.pageYOffset;
        if (prevScrollpos1 > currentScrollPos1) {
            document.getElementById("headerpanel").style.top = "40px";
            document.getElementById("main-header-panel").style.top = "0";

        } else {
            document.getElementById("headerpanel").style.top = "-10px";
            document.getElementById("main-header-panel").style.top = "-55px";
        }
        prevScrollpos1 = currentScrollPos1;
    }
</script>
