@model OneFin.Models.CFCustomer
<style>


</style>
    <div class="pre-scrollablex validatelistbox">
            <h4><strong>BRUNEI ADDRESS</strong></h4>
        <div class="box-body no-border">
            <table class="table validatelist">
                <thead>
                    <tr>
                        <th style="min-width: 120px;">
                            <span>Kampong </span>
                        </th>
                        <th>
                            <span>Jalan </span>
                        </th>
                        <th>
                            <span>Simpang </span>
                        </th>
                        <th>
                            <span> Block </span>
                        </th>
                        <th>
                            <span>Unit </span>
                        </th>
                        <th style="min-width:120px">
                            <span>Postal Code </span>
                        </th>
                        <th>
                            <span>District </span>
                        </th>
                        <th>
                            <span>Mukim </span>
                        </th>
                        <th>
                            <span>Lot </span>
                        </th>
                        <th style="min-width:250px">
                            <span > Building </span>
                        </th>
                        <th style="text-align:center; width:190px">
                            <span>Registered To History </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:5px;"></tr>
                    @foreach (var item in Model.AddContentList)
                    {
                        <tr>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.TP04_kampong_FPKC)</span>
                            </td>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.TP05_jalan_FPJC)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.TP06_simpang_FPSM)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.TP07_block)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.TP08_unit)</span>
                            </td>
                            <td>
                                <span>@Html.DisplayFor(modelItem => item.TP09_postalCode_FPPK)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.TP10_district_FPDK)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.TP11_mukim)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.TP12_lot_FPLT)</span>
                            </td>
                            <td>
                                <span> @Html.DisplayFor(modelItem => item.TP13_building_FPBG)</span>
                            </td>
                            <td >
                                <span style="justify-content:center;">  <a href="#" onclick="PopupDetail('Addres')">@Html.DisplayFor(modelItem => item.RegHist)</a></span>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        
    </div>

        <div class="pre-scrollablex validatelistbox">
            <div  style="margin-top:20px">
                <h4><strong>OVERSEAS ADDRESS</strong></h4>
            </div>
            <div class="box-body no-border" style="">
                <table class="table validatelist">
                    <thead>
                        <tr>
                            <th>
                                <span>Address Line 1</span>
                            </th>
                            <th>
                                <span>Address Line 2</span>
                            </th>
                            <th>
                                <span>Address Line 3</span>
                            </th>
                            <th>
                                <span>Country</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="height:5px;"></tr>
                    </tbody>
                </table>
            </div>

        </div>
